<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} T&P</title>
    <meta name="author" content="Teddy">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-ie6.min.css">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css">
    <![endif]-->
    <link rel='stylesheet' href='/static/css/all.css' />
    {% block head_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li>  <a href="{% url 'issue_list' %}">期刊</a></li>
          <li><a href="{% url 'weblog_entry_archive' %}">博客</a></li>
        </ul>
        <h3 class="text-muted">Teddy & Pudding</h3>
      </div>

      <div class="row">
      {% block topList %}
        
      {% endblock %}
    </div>
    
      <div class="row">
          {% block content %}
          {% endblock %}
      </div>
      <div class="footer">
        <p>&copy; Company 2015</p>
      </div>
    </div><!-- container ends -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
