{% extends 'base.html' %}

{% block title %}
首页 |
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block topList %}

<div id="issueOne" class="col-lg-5">
<h2>期刊1</h2>
</div>
<div  class="col-lg-5 col-lg-offset-2">
  <div id="issueTwo" class="well">
    <h2>期刊2</h2>
    <p>
        导致原因 通常是因为指定的 URL 在 Django 的 URL
        导致原因 通常是因为指定的 URL 在 Django 的 URL
        导致原因 通常是因为指定的 URL 在 Django 的 URL
        处理系统中有”记录”(即己配置), 但是映射到 view 上时出错, 通常是找不到
        view .  
    </p>
  </div>
</div>
{% endblock %}


{% block content %}

<hr>
<div id="entryList">
{% for entry in entries %}
<h2>{{ entry.title }}</h2>
<p>发表于{{ entry.pub_date|date:"F j, Y"}}</p>
{% if entry.excerpt_html %}
{{ entry.excerpt_html|safe }}
{% else %}
{{ entry.body_html|slice:"50"|safe }}
{% endif %}
<p><a href="{{ entry.get_absolute_url }}">Read full entry</a></p>
{% endfor %}
</div>
    
{% endblock %}
